bin
obj
csx
.vs
edge
Publish
dist
node_modules
*.user
*.suo
*.cscfg
*.Cache
project.lock.json
.DS_Store
*.pyc
nupkg
__bycache__
__azurite_*
__blobstorage__
__queuestorage__
__azurite_db*__.json
test-results
.python_packages
local.settings.json
.vscode
.funcignore
